################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VMS/FileContentIndex/0359a6a0-636c-4d2e-b18d-7a039931a723.vsidx
/.vs/VMS/FileContentIndex
